<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.AttributeMapper">
  <resultMap id="BaseResultMap" type="com.company.bean.Attribute">
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="attributeName" jdbcType="VARCHAR" property="attributeName" />
  </resultMap>
  <sql id="Base_Column_List">
    aid, attributeName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from attribute
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from attribute
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.company.bean.Attribute">
    insert into attribute (aid, attributeName)
    values (#{aid,jdbcType=INTEGER}, #{attributeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.company.bean.Attribute">
    insert into attribute
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        aid,
      </if>
      <if test="attributeName != null">
        attributeName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="attributeName != null">
        #{attributeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.bean.Attribute">
    update attribute
    <set>
      <if test="attributeName != null">
        attributeName = #{attributeName,jdbcType=VARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.bean.Attribute">
    update attribute
    set attributeName = #{attributeName,jdbcType=VARCHAR}
    where aid = #{aid,jdbcType=INTEGER}
  </update>

  <select id="queryAidByAttributeName" parameterType="string" resultType="int">
    select aid from attribute where attributeName like #{attributeName};
  </select>
</mapper>