<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.AttributevalueMapper">
  <resultMap id="BaseResultMap" type="com.company.bean.Attributevalue">
    <id column="far_id" jdbcType="INTEGER" property="far_id" />
    <result column="aid" jdbcType="INTEGER" property="aid" />
    <result column="attributeDetailsName" jdbcType="VARCHAR" property="attributeDetailsName" />
  </resultMap>
  <sql id="Base_Column_List">
    far_id, aid, attributeDetailsName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from attributevalue
    where far_id = #{far_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from attributevalue
    where far_id = #{far_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.company.bean.Attributevalue">
    insert into attributevalue (far_id, aid, attributeDetailsName
      )
    values (#{far_id,jdbcType=INTEGER}, #{aid,jdbcType=INTEGER}, #{attributeDetailsName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.company.bean.Attributevalue">
    insert into attributevalue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="far_id != null">
        far_id,
      </if>
      <if test="aid != null">
        aid,
      </if>
      <if test="attributeDetailsName != null">
        attributeDetailsName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="far_id != null">
        #{far_id,jdbcType=INTEGER},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="attributeDetailsName != null">
        #{attributeDetailsName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.bean.Attributevalue">
    update attributevalue
    <set>
      <if test="aid != null">
        aid = #{aid,jdbcType=INTEGER},
      </if>
      <if test="attributeDetailsName != null">
        attributeDetailsName = #{attributeDetailsName,jdbcType=VARCHAR},
      </if>
    </set>
    where far_id = #{far_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.bean.Attributevalue">
    update attributevalue
    set aid = #{aid,jdbcType=INTEGER},
      attributeDetailsName = #{attributeDetailsName,jdbcType=VARCHAR}
    where far_id = #{far_id,jdbcType=INTEGER}
  </update>
</mapper>