<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.CommoditytypeMapper">
  <resultMap id="BaseResultMap" type="com.company.bean.Commoditytype">
    <id column="commodityTypeID" jdbcType="VARCHAR" property="commodityTypeID" />
    <result column="commodityTypeName" jdbcType="VARCHAR" property="commodityTypeName" />
  </resultMap>
  <sql id="Base_Column_List">
    commodityTypeID, commodityTypeName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commoditytype
    where commodityTypeID = #{commodityTypeID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from commoditytype
    where commodityTypeID = #{commodityTypeID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.company.bean.Commoditytype">
    insert into commoditytype (commodityTypeID, commodityTypeName
      )
    values (#{commodityTypeID,jdbcType=VARCHAR}, #{commodityTypeName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.company.bean.Commoditytype">
    insert into commoditytype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commodityTypeID != null">
        commodityTypeID,
      </if>
      <if test="commodityTypeName != null">
        commodityTypeName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commodityTypeID != null">
        #{commodityTypeID,jdbcType=VARCHAR},
      </if>
      <if test="commodityTypeName != null">
        #{commodityTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.bean.Commoditytype">
    update commoditytype
    <set>
      <if test="commodityTypeName != null">
        commodityTypeName = #{commodityTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where commodityTypeID = #{commodityTypeID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.bean.Commoditytype">
    update commoditytype
    set commodityTypeName = #{commodityTypeName,jdbcType=VARCHAR}
    where commodityTypeID = #{commodityTypeID,jdbcType=VARCHAR}
  </update>
  <!--查询所有商品类别-->
  <select id="findCommoditytypeList" resultType="Commoditytype">
    SELECT * FROM  commoditytype
  </select>
  <!--&lt;!&ndash;查询商品分类的ID&ndash;&gt;-->
<select id="findCommoditytypeIdByName" parameterType="string" resultType="string">
  SELECT commodityTypeID FROM commoditytype WHERE commodityTypeName = #{name}
</select>
</mapper>