<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.CommodityMapper">
  <resultMap id="BaseResultMap" type="com.company.bean.Commodity">
    <id column="commodityName" jdbcType="VARCHAR" property="commodityName" />
    <result column="commodityTypeID" jdbcType="VARCHAR" property="commodityTypeID" />
    <result column="salePrice" jdbcType="DOUBLE" property="salePrice" />
    <result column="uOMID" jdbcType="VARCHAR" property="uOMID" />
  </resultMap>
  <sql id="Base_Column_List">
    commodityName, commodityTypeID, salePrice, uOMID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commodity
    where commodityName = #{commodityName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from commodity
    where commodityName = #{commodityName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.company.bean.Commodity">
    insert into commodity (commodityName, commodityTypeID, salePrice, 
      uOMID)
    values (#{commodityName,jdbcType=VARCHAR}, #{commodityTypeID,jdbcType=VARCHAR}, #{salePrice,jdbcType=DOUBLE}, 
      #{uOMID,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.company.bean.Commodity">
    insert into commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commodityName != null">
        commodityName,
      </if>
      <if test="commodityTypeID != null">
        commodityTypeID,
      </if>
      <if test="salePrice != null">
        salePrice,
      </if>
      <if test="uOMID != null">
        uOMID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commodityName != null">
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityTypeID != null">
        #{commodityTypeID,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null">
        #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="uOMID != null">
        #{uOMID,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.bean.Commodity">
    update commodity
    <set>
      <if test="commodityTypeID != null">
        commodityTypeID = #{commodityTypeID,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null">
        salePrice = #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="uOMID != null">
        uOMID = #{uOMID,jdbcType=VARCHAR},
      </if>
    </set>
    where commodityName = #{commodityName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.bean.Commodity">
    update commodity
    set commodityTypeID = #{commodityTypeID,jdbcType=VARCHAR},
      salePrice = #{salePrice,jdbcType=DOUBLE},
      uOMID = #{uOMID,jdbcType=VARCHAR}
    where commodityName = #{commodityName,jdbcType=VARCHAR}
  </update>
</mapper>