<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.ConsumptionMapper">
  <resultMap id="BaseResultMap" type="com.company.bean.Consumption">
    <id column="checkInId" jdbcType="VARCHAR" property="checkInId" />
    <result column="commodityName" jdbcType="VARCHAR" property="commodityName" />
    <result column="consumptionNumber" jdbcType="INTEGER" property="consumptionNumber" />
    <result column="consumptionMoney" jdbcType="DOUBLE" property="consumptionMoney" />
    <result column="consumptionTime" jdbcType="DATE" property="consumptionTime" />
  </resultMap>
  <sql id="Base_Column_List">
    checkInId, commodityName, consumptionNumber, consumptionMoney, consumptionTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from consumption
    where checkInId = #{checkInId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from consumption
    where checkInId = #{checkInId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.company.bean.Consumption">
    insert into consumption (checkInId, commodityName, consumptionNumber, 
      consumptionMoney, consumptionTime)
    values (#{checkInId,jdbcType=VARCHAR}, #{commodityName,jdbcType=VARCHAR}, #{consumptionNumber,jdbcType=INTEGER}, 
      #{consumptionMoney,jdbcType=DOUBLE}, #{consumptionTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.company.bean.Consumption">
    insert into consumption
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkInId != null">
        checkInId,
      </if>
      <if test="commodityName != null">
        commodityName,
      </if>
      <if test="consumptionNumber != null">
        consumptionNumber,
      </if>
      <if test="consumptionMoney != null">
        consumptionMoney,
      </if>
      <if test="consumptionTime != null">
        consumptionTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkInId != null">
        #{checkInId,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null">
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="consumptionNumber != null">
        #{consumptionNumber,jdbcType=INTEGER},
      </if>
      <if test="consumptionMoney != null">
        #{consumptionMoney,jdbcType=DOUBLE},
      </if>
      <if test="consumptionTime != null">
        #{consumptionTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.bean.Consumption">
    update consumption
    <set>
      <if test="commodityName != null">
        commodityName = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="consumptionNumber != null">
        consumptionNumber = #{consumptionNumber,jdbcType=INTEGER},
      </if>
      <if test="consumptionMoney != null">
        consumptionMoney = #{consumptionMoney,jdbcType=DOUBLE},
      </if>
      <if test="consumptionTime != null">
        consumptionTime = #{consumptionTime,jdbcType=DATE},
      </if>
    </set>
    where checkInId = #{checkInId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.bean.Consumption">
    update consumption
    set commodityName = #{commodityName,jdbcType=VARCHAR},
      consumptionNumber = #{consumptionNumber,jdbcType=INTEGER},
      consumptionMoney = #{consumptionMoney,jdbcType=DOUBLE},
      consumptionTime = #{consumptionTime,jdbcType=DATE}
    where checkInId = #{checkInId,jdbcType=VARCHAR}
  </update>
</mapper>