<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.DepositMapper">
  <resultMap id="BaseResultMap" type="com.company.bean.Deposit">
    <id column="checkInId" jdbcType="VARCHAR" property="checkInId" />
    <result column="depositRegisterTime" jdbcType="DATE" property="depositRegisterTime" />
    <result column="deposit" jdbcType="DOUBLE" property="deposit" />
    <result column="depositPayWayId" jdbcType="VARCHAR" property="depositPayWayId" />
  </resultMap>
  <sql id="Base_Column_List">
    checkInId, depositRegisterTime, deposit, depositPayWayId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from deposit
    where checkInId = #{checkInId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from deposit
    where checkInId = #{checkInId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.company.bean.Deposit">
    insert into deposit (checkInId, depositRegisterTime, deposit, 
      depositPayWayId)
    values (#{checkInId,jdbcType=VARCHAR}, #{depositRegisterTime,jdbcType=DATE}, #{deposit,jdbcType=DOUBLE}, 
      #{depositPayWayId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.company.bean.Deposit">
    insert into deposit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkInId != null">
        checkInId,
      </if>
      <if test="depositRegisterTime != null">
        depositRegisterTime,
      </if>
      <if test="deposit != null">
        deposit,
      </if>
      <if test="depositPayWayId != null">
        depositPayWayId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkInId != null">
        #{checkInId,jdbcType=VARCHAR},
      </if>
      <if test="depositRegisterTime != null">
        #{depositRegisterTime,jdbcType=DATE},
      </if>
      <if test="deposit != null">
        #{deposit,jdbcType=DOUBLE},
      </if>
      <if test="depositPayWayId != null">
        #{depositPayWayId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.bean.Deposit">
    update deposit
    <set>
      <if test="depositRegisterTime != null">
        depositRegisterTime = #{depositRegisterTime,jdbcType=DATE},
      </if>
      <if test="deposit != null">
        deposit = #{deposit,jdbcType=DOUBLE},
      </if>
      <if test="depositPayWayId != null">
        depositPayWayId = #{depositPayWayId,jdbcType=VARCHAR},
      </if>
    </set>
    where checkInId = #{checkInId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.bean.Deposit">
    update deposit
    set depositRegisterTime = #{depositRegisterTime,jdbcType=DATE},
      deposit = #{deposit,jdbcType=DOUBLE},
      depositPayWayId = #{depositPayWayId,jdbcType=VARCHAR}
    where checkInId = #{checkInId,jdbcType=VARCHAR}
  </update>

  <!-- 通过CheckID查询所有记录-->
  <select id="queryDepositsByCheckID" parameterType="string" resultType="deposit">
    select  *
    from deposit tempa
    left outer join
    (select  attributeDetailsName as depositPayWayName,far_id from attributevalue)
    as tempb
    on tempa.depositPayWayId = tempb.far_id
    where checkInId = #{checkInId,jdbcType=VARCHAR}
  </select>
</mapper>