<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.PassengerMapper">
  <resultMap id="BaseResultMap" type="com.company.bean.Passenger">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="genderID" jdbcType="VARCHAR" property="genderID" />
    <result column="birthDate" jdbcType="DATE" property="birthDate" />
    <result column="nationID" jdbcType="VARCHAR" property="nationID" />
    <result column="licenceIssuingAuthorty" jdbcType="VARCHAR" property="licenceIssuingAuthorty" />
    <result column="papersValidity" jdbcType="DATE" property="papersValidity" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="educationDegreeID" jdbcType="VARCHAR" property="educationDegreeID" />
    <result column="passengerLevelID" jdbcType="VARCHAR" property="passengerLevelID" />
    <result column="papersID" jdbcType="VARCHAR" property="papersID" />
    <result column="papersNumber" jdbcType="VARCHAR" property="papersNumber" />
    <result column="unitsOrAddress" jdbcType="VARCHAR" property="unitsOrAddress" />
    <result column="thingReasonID" jdbcType="VARCHAR" property="thingReasonID" />
    <result column="whereAreFrom" jdbcType="VARCHAR" property="whereAreFrom" />
    <result column="whereToGo" jdbcType="VARCHAR" property="whereToGo" />
    <result column="contactPhoneNumber" jdbcType="VARCHAR" property="contactPhoneNumber" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    pid, name, genderID, birthDate, nationID, licenceIssuingAuthorty, papersValidity, 
    profession, educationDegreeID, passengerLevelID, papersID, papersNumber, unitsOrAddress, 
    thingReasonID, whereAreFrom, whereToGo, contactPhoneNumber, remarks
  </sql>

  <!--修改需要使用的精确查询-->
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from passenger
    where pid = #{pid,jdbcType=INTEGER}
  </select>


  <!--根据主键删除-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from passenger
    where pid = #{pid,jdbcType=INTEGER}
  </delete>


  <!--新增部分-->
  <insert id="insertAll" parameterType="com.company.bean.Passenger">
    insert into passenger (pid, name, genderID, 
      birthDate, nationID, licenceIssuingAuthorty, 
      papersValidity, profession, educationDegreeID, 
      passengerLevelID, papersID, papersNumber, 
      unitsOrAddress, thingReasonID, whereAreFrom, 
      whereToGo, contactPhoneNumber, remarks
      )
    values (#{pid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{genderID,jdbcType=VARCHAR}, 
      #{birthDate,jdbcType=DATE}, #{nationID,jdbcType=VARCHAR}, #{licenceIssuingAuthorty,jdbcType=VARCHAR}, 
      #{papersValidity,jdbcType=DATE}, #{profession,jdbcType=VARCHAR}, #{educationDegreeID,jdbcType=VARCHAR}, 
      #{passengerLevelID,jdbcType=VARCHAR}, #{papersID,jdbcType=VARCHAR}, #{papersNumber,jdbcType=VARCHAR}, 
      #{unitsOrAddress,jdbcType=VARCHAR}, #{thingReasonID,jdbcType=VARCHAR}, #{whereAreFrom,jdbcType=VARCHAR}, 
      #{whereToGo,jdbcType=VARCHAR}, #{contactPhoneNumber,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>


  <!--插入选择-->
  <insert id="insertSelective" parameterType="com.company.bean.Passenger">
    insert into passenger
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="genderID != null">
        genderID,
      </if>
      <if test="birthDate != null">
        birthDate,
      </if>
      <if test="nationID != null">
        nationID,
      </if>
      <if test="licenceIssuingAuthorty != null">
        licenceIssuingAuthorty,
      </if>
      <if test="papersValidity != null">
        papersValidity,
      </if>
      <if test="profession != null">
        profession,
      </if>
      <if test="educationDegreeID != null">
        educationDegreeID,
      </if>
      <if test="passengerLevelID != null">
        passengerLevelID,
      </if>
      <if test="papersID != null">
        papersID,
      </if>
      <if test="papersNumber != null">
        papersNumber,
      </if>
      <if test="unitsOrAddress != null">
        unitsOrAddress,
      </if>
      <if test="thingReasonID != null">
        thingReasonID,
      </if>
      <if test="whereAreFrom != null">
        whereAreFrom,
      </if>
      <if test="whereToGo != null">
        whereToGo,
      </if>
      <if test="contactPhoneNumber != null">
        contactPhoneNumber,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="genderID != null">
        #{genderID,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null">
        #{birthDate,jdbcType=DATE},
      </if>
      <if test="nationID != null">
        #{nationID,jdbcType=VARCHAR},
      </if>
      <if test="licenceIssuingAuthorty != null">
        #{licenceIssuingAuthorty,jdbcType=VARCHAR},
      </if>
      <if test="papersValidity != null">
        #{papersValidity,jdbcType=DATE},
      </if>
      <if test="profession != null">
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="educationDegreeID != null">
        #{educationDegreeID,jdbcType=VARCHAR},
      </if>
      <if test="passengerLevelID != null">
        #{passengerLevelID,jdbcType=VARCHAR},
      </if>
      <if test="papersID != null">
        #{papersID,jdbcType=VARCHAR},
      </if>
      <if test="papersNumber != null">
        #{papersNumber,jdbcType=VARCHAR},
      </if>
      <if test="unitsOrAddress != null">
        #{unitsOrAddress,jdbcType=VARCHAR},
      </if>
      <if test="thingReasonID != null">
        #{thingReasonID,jdbcType=VARCHAR},
      </if>
      <if test="whereAreFrom != null">
        #{whereAreFrom,jdbcType=VARCHAR},
      </if>
      <if test="whereToGo != null">
        #{whereToGo,jdbcType=VARCHAR},
      </if>
      <if test="contactPhoneNumber != null">
        #{contactPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>



  <!--修改选中，更新-->
  <update id="updateByPrimaryKeySelective" parameterType="com.company.bean.Passenger">
    update passenger
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="genderID != null">
        genderID = #{genderID,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null">
        birthDate = #{birthDate,jdbcType=DATE},
      </if>
      <if test="nationID != null">
        nationID = #{nationID,jdbcType=VARCHAR},
      </if>
      <if test="licenceIssuingAuthorty != null">
        licenceIssuingAuthorty = #{licenceIssuingAuthorty,jdbcType=VARCHAR},
      </if>
      <if test="papersValidity != null">
        papersValidity = #{papersValidity,jdbcType=DATE},
      </if>
      <if test="profession != null">
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="educationDegreeID != null">
        educationDegreeID = #{educationDegreeID,jdbcType=VARCHAR},
      </if>
      <if test="passengerLevelID != null">
        passengerLevelID = #{passengerLevelID,jdbcType=VARCHAR},
      </if>
      <if test="papersID != null">
        papersID = #{papersID,jdbcType=VARCHAR},
      </if>
      <if test="papersNumber != null">
        papersNumber = #{papersNumber,jdbcType=VARCHAR},
      </if>
      <if test="unitsOrAddress != null">
        unitsOrAddress = #{unitsOrAddress,jdbcType=VARCHAR},
      </if>
      <if test="thingReasonID != null">
        thingReasonID = #{thingReasonID,jdbcType=VARCHAR},
      </if>
      <if test="whereAreFrom != null">
        whereAreFrom = #{whereAreFrom,jdbcType=VARCHAR},
      </if>
      <if test="whereToGo != null">
        whereToGo = #{whereToGo,jdbcType=VARCHAR},
      </if>
      <if test="contactPhoneNumber != null">
        contactPhoneNumber = #{contactPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>


  <!--根据id修改-->
  <update id="updateById" parameterType="com.company.bean.Passenger">
    update passenger
    set name = #{name,jdbcType=VARCHAR},
      genderID = #{genderID,jdbcType=VARCHAR},
      birthDate = #{birthDate,jdbcType=DATE},
      nationID = #{nationID,jdbcType=VARCHAR},
      licenceIssuingAuthorty = #{licenceIssuingAuthorty,jdbcType=VARCHAR},
      papersValidity = #{papersValidity,jdbcType=DATE},
      profession = #{profession,jdbcType=VARCHAR},
      educationDegreeID = #{educationDegreeID,jdbcType=VARCHAR},
      passengerLevelID = #{passengerLevelID,jdbcType=VARCHAR},
      papersID = #{papersID,jdbcType=VARCHAR},
      papersNumber = #{papersNumber,jdbcType=VARCHAR},
      unitsOrAddress = #{unitsOrAddress,jdbcType=VARCHAR},
      thingReasonID = #{thingReasonID,jdbcType=VARCHAR},
      whereAreFrom = #{whereAreFrom,jdbcType=VARCHAR},
      whereToGo = #{whereToGo,jdbcType=VARCHAR},
      contactPhoneNumber = #{contactPhoneNumber,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>

  <select id="queryPartPassengers" parameterType="hashmap" resultType="passenger">
    select * from
    (select * from
    (select * from
    (select * from
    (select * from
    (select * from passenger as temp
    inner join
    (select attributeDetailsName as genderName,far_id from attributevalue) as tempa
    on temp.genderID = tempa.far_id )
    as tempb
    inner join
    (select attributeDetailsName as nationName,far_id as far_id1 from attributevalue)   as tempc
    on tempb.nationID = tempc.far_id1 )
    as tempd
    inner join
    (select attributeDetailsName as educationDegreeName,far_id as far_id2 from attributevalue) as tempe
    on tempd.educationDegreeID = tempe.far_id2)
    as tempf
    inner join
    (select attributeDetailsName as passengerLevelName,far_id as far_id3 from attributevalue) as tempg
    on tempf.passengerLevelID = tempg.far_id3)
    as temph
    inner join
    (select attributeDetailsName as papersName,far_id as far_id4 from attributevalue) as tempi
    on temph.papersID = tempi.far_id4)
    as tempj
    inner join
    (select attributeDetailsName as thingReasonName,far_id as far_id5 from attributevalue) as tempk
    on tempj.thingReasonID = tempk.far_id5
      <where>
        <if test="txtname != null and !txtname.isEmpty()">
          tempj.name like #{txtname}
        </if>
      </where>
      limit #{limit} offset #{offset};
  </select>

  <select id="countPassengerNumByName" parameterType="string" resultType="int">
    select count(*) from
    (select * from
    (select * from
    (select * from
    (select * from
    (select * from passenger as temp
    inner join
    (select attributeDetailsName as genderName,far_id from attributevalue) as tempa
    on temp.genderID = tempa.far_id )
    as tempb
    inner join
    (select attributeDetailsName as nationName,far_id as far_id1 from attributevalue)   as tempc
    on tempb.nationID = tempc.far_id1 )
    as tempd
    inner join
    (select attributeDetailsName as educationDegreeName,far_id as far_id2 from attributevalue) as tempe
    on tempd.educationDegreeID = tempe.far_id2)
    as tempf
    inner join
    (select attributeDetailsName as passengerLevelName,far_id as far_id3 from attributevalue) as tempg
    on tempf.passengerLevelID = tempg.far_id3)
    as temph
    inner join
    (select attributeDetailsName as papersName,far_id as far_id4 from attributevalue) as tempi
    on temph.papersID = tempi.far_id4)
    as tempj
    inner join
    (select attributeDetailsName as thingReasonName,far_id as far_id5 from attributevalue) as tempk
    on tempj.thingReasonID = tempk.far_id5
    <where>
      <if test="_parameter != null and ! _parameter.isEmpty()">
        tempj.name like #{txtname}
      </if>
    </where>
  </select>

  <select id="queryPassengerByPid" parameterType="int" resultType="passenger">
        select * from
    (select * from
    (select * from
    (select * from
    (select * from
    (select * from passenger as temp
    inner join
    (select attributeDetailsName as genderName,far_id from attributevalue) as tempa
    on temp.genderID = tempa.far_id )
    as tempb
    inner join
    (select attributeDetailsName as nationName,far_id as far_id1 from attributevalue)   as tempc
    on tempb.nationID = tempc.far_id1 )
    as tempd
    inner join
    (select attributeDetailsName as educationDegreeName,far_id as far_id2 from attributevalue) as tempe
    on tempd.educationDegreeID = tempe.far_id2)
    as tempf
    inner join
    (select attributeDetailsName as passengerLevelName,far_id as far_id3 from attributevalue) as tempg
    on tempf.passengerLevelID = tempg.far_id3)
    as temph
    inner join
    (select attributeDetailsName as papersName,far_id as far_id4 from attributevalue) as tempi
    on temph.papersID = tempi.far_id4)
    as tempj
    inner join
    (select attributeDetailsName as thingReasonName,far_id as far_id5 from attributevalue) as tempk
    on tempj.thingReasonID = tempk.far_id5
    where tempj.pid = #{pid}
  </select>

  <delete id="deleteBatchByPid" >
    delete from passenger
    <where>
      <foreach collection="array" item="pid">
        or pid = #{pid}
      </foreach>
    </where>
  </delete>


  <select id="queryAllPassenger" resultType="passenger">
       select * from
    (select * from
    (select * from
    (select * from
    (select * from
    (select * from passenger as temp
    inner join
    (select attributeDetailsName as genderName,far_id from attributevalue) as tempa
    on temp.genderID = tempa.far_id )
    as tempb
    inner join
    (select attributeDetailsName as nationName,far_id as far_id1 from attributevalue)   as tempc
    on tempb.nationID = tempc.far_id1 )
    as tempd
    inner join
    (select attributeDetailsName as educationDegreeName,far_id as far_id2 from attributevalue) as tempe
    on tempd.educationDegreeID = tempe.far_id2)
    as tempf
    inner join
    (select attributeDetailsName as passengerLevelName,far_id as far_id3 from attributevalue) as tempg
    on tempf.passengerLevelID = tempg.far_id3)
    as temph
    inner join
    (select attributeDetailsName as papersName,far_id as far_id4 from attributevalue) as tempi
    on temph.papersID = tempi.far_id4)
    as tempj
    inner join
    (select attributeDetailsName as thingReasonName,far_id as far_id5 from attributevalue) as tempk
    on tempj.thingReasonID = tempk.far_id5
  </select>


  <select id="queryPassengerByName" parameterType="string" resultType="passenger">
    select * from
    (select * from
    (select * from
    (select * from
    (select * from
    (select * from passenger as temp
    inner join
    (select attributeDetailsName as genderName,far_id from attributevalue) as tempa
    on temp.genderID = tempa.far_id )
    as tempb
    inner join
    (select attributeDetailsName as nationName,far_id as far_id1 from attributevalue)   as tempc
    on tempb.nationID = tempc.far_id1 )
    as tempd
    inner join
    (select attributeDetailsName as educationDegreeName,far_id as far_id2 from attributevalue) as tempe
    on tempd.educationDegreeID = tempe.far_id2)
    as tempf
    inner join
    (select attributeDetailsName as passengerLevelName,far_id as far_id3 from attributevalue) as tempg
    on tempf.passengerLevelID = tempg.far_id3)
    as temph
    inner join
    (select attributeDetailsName as papersName,far_id as far_id4 from attributevalue) as tempi
    on temph.papersID = tempi.far_id4)
    as tempj
    inner join
    (select attributeDetailsName as thingReasonName,far_id as far_id5 from attributevalue) as tempk
    on tempj.thingReasonID = tempk.far_id5
    <where>
      <if test="_parameter != null and ! _parameter.isEmpty()">
        tempj.name like #{txtname}
      </if>
    </where>
  </select>


  <!--插入后获取主键-->
  <insert id="insertAndGetId"  parameterType="com.company.bean.Passenger"
          useGeneratedKeys="true" keyProperty="pid" keyColumn="pid">
    insert into passenger (name, genderID,
      birthDate, nationID, licenceIssuingAuthorty,
      papersValidity, profession, educationDegreeID,
      passengerLevelID, papersID, papersNumber,
      unitsOrAddress, thingReasonID, whereAreFrom,
      whereToGo, contactPhoneNumber, remarks
      )
    values (#{name,jdbcType=VARCHAR}, #{genderID,jdbcType=VARCHAR},
      #{birthDate,jdbcType=DATE}, #{nationID,jdbcType=VARCHAR}, #{licenceIssuingAuthorty,jdbcType=VARCHAR},
      #{papersValidity,jdbcType=DATE}, #{profession,jdbcType=VARCHAR}, #{educationDegreeID,jdbcType=VARCHAR},
      #{passengerLevelID,jdbcType=VARCHAR}, #{papersID,jdbcType=VARCHAR}, #{papersNumber,jdbcType=VARCHAR},
      #{unitsOrAddress,jdbcType=VARCHAR}, #{thingReasonID,jdbcType=VARCHAR}, #{whereAreFrom,jdbcType=VARCHAR},
      #{whereToGo,jdbcType=VARCHAR}, #{contactPhoneNumber,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>


  <!--根据id获取用户不填充相应字段-->
  <select id="selectPassengerByIdWithoutFill" parameterType="int" resultType="passenger">
    select *
    from passenger
    where pid = #{pid,jdbcType=INTEGER}
  </select>
</mapper>