<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.ReceivetargetReserveMapper">
  <resultMap id="BaseResultMap" type="com.company.bean.ReceivetargetReserve">
    <id column="receivetargetReserveId" jdbcType="VARCHAR" property="receivetargetReserveId" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="roomNumber" jdbcType="VARCHAR" property="roomNumber" />
    <result column="predetermineDay" jdbcType="INTEGER" property="predetermineDay" />
    <result column="deposit" jdbcType="DOUBLE" property="deposit" />
    <result column="payWayID" jdbcType="VARCHAR" property="payWayID" />
    <result column="arriveTime" jdbcType="DATE" property="arriveTime" />
    <result column="reserveState" jdbcType="VARCHAR" property="reserveState" />
  </resultMap>
  <sql id="Base_Column_List">
    receivetargetReserveId, tid, roomNumber, predetermineDay, deposit, payWayID, arriveTime, 
    reserveState
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from receivetarget_reserve
    where receivetargetReserveId = #{receivetargetReserveId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from receivetarget_reserve
    where receivetargetReserveId = #{receivetargetReserveId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.company.bean.ReceivetargetReserve">
    insert into receivetarget_reserve (receivetargetReserveId, tid, roomNumber, 
      predetermineDay, deposit, payWayID, 
      arriveTime, reserveState)
    values (#{receivetargetReserveId,jdbcType=VARCHAR}, #{tid,jdbcType=INTEGER}, #{roomNumber,jdbcType=VARCHAR}, 
      #{predetermineDay,jdbcType=INTEGER}, #{deposit,jdbcType=DOUBLE}, #{payWayID,jdbcType=VARCHAR}, 
      #{arriveTime,jdbcType=DATE}, #{reserveState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.company.bean.ReceivetargetReserve">
    insert into receivetarget_reserve
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="receivetargetReserveId != null">
        receivetargetReserveId,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="roomNumber != null">
        roomNumber,
      </if>
      <if test="predetermineDay != null">
        predetermineDay,
      </if>
      <if test="deposit != null">
        deposit,
      </if>
      <if test="payWayID != null">
        payWayID,
      </if>
      <if test="arriveTime != null">
        arriveTime,
      </if>
      <if test="reserveState != null">
        reserveState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="receivetargetReserveId != null">
        #{receivetargetReserveId,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="roomNumber != null">
        #{roomNumber,jdbcType=VARCHAR},
      </if>
      <if test="predetermineDay != null">
        #{predetermineDay,jdbcType=INTEGER},
      </if>
      <if test="deposit != null">
        #{deposit,jdbcType=DOUBLE},
      </if>
      <if test="payWayID != null">
        #{payWayID,jdbcType=VARCHAR},
      </if>
      <if test="arriveTime != null">
        #{arriveTime,jdbcType=DATE},
      </if>
      <if test="reserveState != null">
        #{reserveState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.bean.ReceivetargetReserve">
    update receivetarget_reserve
    <set>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="roomNumber != null">
        roomNumber = #{roomNumber,jdbcType=VARCHAR},
      </if>
      <if test="predetermineDay != null">
        predetermineDay = #{predetermineDay,jdbcType=INTEGER},
      </if>
      <if test="deposit != null">
        deposit = #{deposit,jdbcType=DOUBLE},
      </if>
      <if test="payWayID != null">
        payWayID = #{payWayID,jdbcType=VARCHAR},
      </if>
      <if test="arriveTime != null">
        arriveTime = #{arriveTime,jdbcType=DATE},
      </if>
      <if test="reserveState != null">
        reserveState = #{reserveState,jdbcType=VARCHAR},
      </if>
    </set>
    where receivetargetReserveId = #{receivetargetReserveId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.bean.ReceivetargetReserve">
    update receivetarget_reserve
    set tid = #{tid,jdbcType=INTEGER},
      roomNumber = #{roomNumber,jdbcType=VARCHAR},
      predetermineDay = #{predetermineDay,jdbcType=INTEGER},
      deposit = #{deposit,jdbcType=DOUBLE},
      payWayID = #{payWayID,jdbcType=VARCHAR},
      arriveTime = #{arriveTime,jdbcType=DATE},
      reserveState = #{reserveState,jdbcType=VARCHAR}
    where receivetargetReserveId = #{receivetargetReserveId,jdbcType=VARCHAR}
  </update>
</mapper>