<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.ReceivetargetCheckinMapper">
  <resultMap id="BaseResultMap" type="com.company.bean.ReceivetargetCheckin">
    <id column="receivetargetCheckInId" jdbcType="VARCHAR" property="receivetargetCheckInId" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="roomNumber" jdbcType="VARCHAR" property="roomNumber" />
    <result column="registerTime" jdbcType="DATE" property="registerTime" />
    <result column="rentOutTypeID" jdbcType="VARCHAR" property="rentOutTypeID" />
    <result column="passengerTypeID" jdbcType="VARCHAR" property="passengerTypeID" />
    <result column="stayNumber" jdbcType="DOUBLE" property="stayNumber" />
    <result column="billUnitID" jdbcType="VARCHAR" property="billUnitID" />
    <result column="depositPayWayID" jdbcType="VARCHAR" property="depositPayWayID" />
    <result column="changingRoomNumber" jdbcType="INTEGER" property="changingRoomNumber" />
    <result column="changRoomMoney" jdbcType="DOUBLE" property="changRoomMoney" />
    <result column="changRoomTime" jdbcType="DATE" property="changRoomTime" />
    <result column="sumConst" jdbcType="DOUBLE" property="sumConst" />
    <result column="isBillID" jdbcType="VARCHAR" property="isBillID" />
    <result column="payTime" jdbcType="DATE" property="payTime" />
  </resultMap>
  <sql id="Base_Column_List">
    receivetargetCheckInId, tid, pid, roomNumber, registerTime, rentOutTypeID, passengerTypeID, 
    stayNumber, billUnitID, depositPayWayID, changingRoomNumber, changRoomMoney, changRoomTime, 
    sumConst, isBillID, payTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from receivetarget_checkin
    where receivetargetCheckInId = #{receivetargetCheckInId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from receivetarget_checkin
    where receivetargetCheckInId = #{receivetargetCheckInId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.company.bean.ReceivetargetCheckin">
    insert into receivetarget_checkin (receivetargetCheckInId, tid, pid, 
      roomNumber, registerTime, rentOutTypeID, 
      passengerTypeID, stayNumber, billUnitID, 
      depositPayWayID, changingRoomNumber, changRoomMoney, 
      changRoomTime, sumConst, isBillID, 
      payTime)
    values (#{receivetargetCheckInId,jdbcType=VARCHAR}, #{tid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{roomNumber,jdbcType=VARCHAR}, #{registerTime,jdbcType=DATE}, #{rentOutTypeID,jdbcType=VARCHAR}, 
      #{passengerTypeID,jdbcType=VARCHAR}, #{stayNumber,jdbcType=DOUBLE}, #{billUnitID,jdbcType=VARCHAR}, 
      #{depositPayWayID,jdbcType=VARCHAR}, #{changingRoomNumber,jdbcType=INTEGER}, #{changRoomMoney,jdbcType=DOUBLE}, 
      #{changRoomTime,jdbcType=DATE}, #{sumConst,jdbcType=DOUBLE}, #{isBillID,jdbcType=VARCHAR}, 
      #{payTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.company.bean.ReceivetargetCheckin">
    insert into receivetarget_checkin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="receivetargetCheckInId != null">
        receivetargetCheckInId,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="roomNumber != null">
        roomNumber,
      </if>
      <if test="registerTime != null">
        registerTime,
      </if>
      <if test="rentOutTypeID != null">
        rentOutTypeID,
      </if>
      <if test="passengerTypeID != null">
        passengerTypeID,
      </if>
      <if test="stayNumber != null">
        stayNumber,
      </if>
      <if test="billUnitID != null">
        billUnitID,
      </if>
      <if test="depositPayWayID != null">
        depositPayWayID,
      </if>
      <if test="changingRoomNumber != null">
        changingRoomNumber,
      </if>
      <if test="changRoomMoney != null">
        changRoomMoney,
      </if>
      <if test="changRoomTime != null">
        changRoomTime,
      </if>
      <if test="sumConst != null">
        sumConst,
      </if>
      <if test="isBillID != null">
        isBillID,
      </if>
      <if test="payTime != null">
        payTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="receivetargetCheckInId != null">
        #{receivetargetCheckInId,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="roomNumber != null">
        #{roomNumber,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=DATE},
      </if>
      <if test="rentOutTypeID != null">
        #{rentOutTypeID,jdbcType=VARCHAR},
      </if>
      <if test="passengerTypeID != null">
        #{passengerTypeID,jdbcType=VARCHAR},
      </if>
      <if test="stayNumber != null">
        #{stayNumber,jdbcType=DOUBLE},
      </if>
      <if test="billUnitID != null">
        #{billUnitID,jdbcType=VARCHAR},
      </if>
      <if test="depositPayWayID != null">
        #{depositPayWayID,jdbcType=VARCHAR},
      </if>
      <if test="changingRoomNumber != null">
        #{changingRoomNumber,jdbcType=INTEGER},
      </if>
      <if test="changRoomMoney != null">
        #{changRoomMoney,jdbcType=DOUBLE},
      </if>
      <if test="changRoomTime != null">
        #{changRoomTime,jdbcType=DATE},
      </if>
      <if test="sumConst != null">
        #{sumConst,jdbcType=DOUBLE},
      </if>
      <if test="isBillID != null">
        #{isBillID,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.bean.ReceivetargetCheckin">
    update receivetarget_checkin
    <set>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="roomNumber != null">
        roomNumber = #{roomNumber,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        registerTime = #{registerTime,jdbcType=DATE},
      </if>
      <if test="rentOutTypeID != null">
        rentOutTypeID = #{rentOutTypeID,jdbcType=VARCHAR},
      </if>
      <if test="passengerTypeID != null">
        passengerTypeID = #{passengerTypeID,jdbcType=VARCHAR},
      </if>
      <if test="stayNumber != null">
        stayNumber = #{stayNumber,jdbcType=DOUBLE},
      </if>
      <if test="billUnitID != null">
        billUnitID = #{billUnitID,jdbcType=VARCHAR},
      </if>
      <if test="depositPayWayID != null">
        depositPayWayID = #{depositPayWayID,jdbcType=VARCHAR},
      </if>
      <if test="changingRoomNumber != null">
        changingRoomNumber = #{changingRoomNumber,jdbcType=INTEGER},
      </if>
      <if test="changRoomMoney != null">
        changRoomMoney = #{changRoomMoney,jdbcType=DOUBLE},
      </if>
      <if test="changRoomTime != null">
        changRoomTime = #{changRoomTime,jdbcType=DATE},
      </if>
      <if test="sumConst != null">
        sumConst = #{sumConst,jdbcType=DOUBLE},
      </if>
      <if test="isBillID != null">
        isBillID = #{isBillID,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null">
        payTime = #{payTime,jdbcType=DATE},
      </if>
    </set>
    where receivetargetCheckInId = #{receivetargetCheckInId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.bean.ReceivetargetCheckin">
    update receivetarget_checkin
    set tid = #{tid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      roomNumber = #{roomNumber,jdbcType=VARCHAR},
      registerTime = #{registerTime,jdbcType=DATE},
      rentOutTypeID = #{rentOutTypeID,jdbcType=VARCHAR},
      passengerTypeID = #{passengerTypeID,jdbcType=VARCHAR},
      stayNumber = #{stayNumber,jdbcType=DOUBLE},
      billUnitID = #{billUnitID,jdbcType=VARCHAR},
      depositPayWayID = #{depositPayWayID,jdbcType=VARCHAR},
      changingRoomNumber = #{changingRoomNumber,jdbcType=INTEGER},
      changRoomMoney = #{changRoomMoney,jdbcType=DOUBLE},
      changRoomTime = #{changRoomTime,jdbcType=DATE},
      sumConst = #{sumConst,jdbcType=DOUBLE},
      isBillID = #{isBillID,jdbcType=VARCHAR},
      payTime = #{payTime,jdbcType=DATE}
    where receivetargetCheckInId = #{receivetargetCheckInId,jdbcType=VARCHAR}
  </update>

  <!--分页和模糊查询的结果集填充旅客对象和房间对象-->
  <resultMap id="fillOutReceivetargetAndRoomMap" type="receivetargetCheckin">
    <id column="receivetargetCheckInId" property="receivetargetCheckInId"></id>
    <!--这里查询的两个字段必须用result才会显示-->
    <result property="pid" column="pid"/>
    <result property="tid" column="tid"/>
    <result property="roomNumber" column="roomNumber"/>

    <!--填充旅客对象-->
    <association property="passenger"
                 javaType="passenger"
                 select="com.company.mapper.PassengerMapper.queryPassengerByPid"
                 column="pid">
      <id column="pid" property="pid"></id>
    </association>

    <!--填充团队对象-->
    <association property="receivetarget"
                 javaType="receivetarget"
                 select="com.company.mapper.ReceivetargetMapper.queryReceivetargetByTid"
                 column="tid">
      <id column="tid" property="tid"></id>
    </association>

    <!--填充房间对象-->
    <association property="room"
                 javaType="room"
                 select="com.company.mapper.RoomMapper.queryRoomByRoomNumber"
                 column="roomNumber">
      <id column="roomNumber" property="roomNumber"></id>
    </association>
  </resultMap>

  <!--分页和模糊查询-->
  <select id="queryPartReceivetargetCheckins" parameterType="hashmap" resultMap="fillOutReceivetargetAndRoomMap">
    select * from
    (select * from
    (select * from
    (select * from
    (select * from receivetarget_checkin as temp
    inner join
    (select attributeDetailsName as rentOutTypeName,far_id from attributevalue) as tempa
    on temp.rentOutTypeID = tempa.far_id )
    as tempb
    inner join
    (select attributeDetailsName as passengerTypeName,far_id as far_id1 from attributevalue)   as tempc
    on tempb.passengerTypeID = tempc.far_id1 )
    as tempd
    inner join
    (select attributeDetailsName as billUnitName,far_id as far_id2 from attributevalue) as tempe
    on tempd.billUnitID = tempe.far_id2)
    as tempf
    inner join
    (select attributeDetailsName as depositPayWayName,far_id as far_id3 from attributevalue) as tempg
    on tempf.depositPayWayID = tempg.far_id3)
    as temph
    inner join
    (select attributeDetailsName as isBillName,far_id as far_id4 from attributevalue) as tempi
    on temph.isBillID = tempi.far_id4
    <where>
      <if test="txtname != null and !txtname.isEmpty()">
        temph.roomNumber like #{txtname}
      </if>
      and temph.isBillID = #{isBillID}
    </where>
    limit #{limit} offset #{offset};
  </select>


  <!--统计查询的总记录数-->
  <select id="countPartReceivetargetCheckinByRoomNameAndBillState" parameterType="hashmap" resultType="int">
    select count(*) from
    (select * from
    (select * from
    (select * from
    (select * from receivetarget_checkin as temp
    inner join
    (select attributeDetailsName as rentOutTypeName,far_id from attributevalue) as tempa
    on temp.rentOutTypeID = tempa.far_id )
    as tempb
    inner join
    (select attributeDetailsName as passengerTypeName,far_id as far_id1 from attributevalue)   as tempc
    on tempb.passengerTypeID = tempc.far_id1 )
    as tempd
    inner join
    (select attributeDetailsName as billUnitName,far_id as far_id2 from attributevalue) as tempe
    on tempd.billUnitID = tempe.far_id2)
    as tempf
    inner join
    (select attributeDetailsName as depositPayWayName,far_id as far_id3 from attributevalue) as tempg
    on tempf.depositPayWayID = tempg.far_id3)
    as temph
    inner join
    (select attributeDetailsName as isBillName,far_id as far_id4 from attributevalue) as tempi
    on temph.isBillID = tempi.far_id4
    <where>
      <if test="txtname != null and !txtname.isEmpty()">
        temph.roomNumber like #{txtname}
      </if>
      and temph.isBillID = #{isBillID}
    </where>
  </select>

  <!--根据passengerCheckInId查到PassengerCheckin数据-->
  <select id="queryReceivetargetCheckinByReceivetargetCheckInId" parameterType="string" resultMap="fillOutReceivetargetAndRoomMap">
    select * from
    (select * from
    (select * from
    (select * from
    (select * from receivetarget_checkin as temp
    inner join
    (select attributeDetailsName as rentOutTypeName,far_id from attributevalue) as tempa
    on temp.rentOutTypeID = tempa.far_id )
    as tempb
    inner join
    (select attributeDetailsName as passengerTypeName,far_id as far_id1 from attributevalue)   as tempc
    on tempb.passengerTypeID = tempc.far_id1 )
    as tempd
    inner join
    (select attributeDetailsName as billUnitName,far_id as far_id2 from attributevalue) as tempe
    on tempd.billUnitID = tempe.far_id2)
    as tempf
    inner join
    (select attributeDetailsName as depositPayWayName,far_id as far_id3 from attributevalue) as tempg
    on tempf.depositPayWayID = tempg.far_id3)
    as temph
    inner join
    (select attributeDetailsName as isBillName,far_id as far_id4 from attributevalue) as tempi
    on temph.isBillID = tempi.far_id4
    where temph.receivetargetCheckInId = #{receivetargetCheckInId}
  </select>

</mapper>