<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com"/>
    <mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>

    <tx:annotation-driven transaction-manager="txManager"/>

    <!--mybatis引入-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis.xml"/>
        <property name="dataSource" ref="myDataSource"/>
    </bean>

    <!--MapperScannerConfigurer可以自动扫描指定包下的各个Mapper接口并注册对应的MapperFactoryBean对象,代替MapperFactoryBean-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.company.mapper" />
    </bean>

    <!--mybatis使用自定义数据源-->
    <bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="jdbc:mysql://192.168.3.45:3306/hotelms"/>
        <property name="user" value="root"/>
        <property name="password" value="1234"/>
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
    </bean>

    <!--使用spring事务管理-->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="myDataSource"/>
    </bean>

    <!--格式转换器-->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.company.utils.MyDateConverter"/>
            </set>
        </property>
    </bean>

    <!--multipart解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSizePerFile" value="5242880"/>
    </bean>

    <!--视图解析器前后缀添加-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 自定义异常发生后的视图解析器-->
    <bean id="handlerExceptionResolver" class="com.company.utils.CustomExceptionResolver"/>
</beans>